<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/bookingdets" method="post">
        <h1>sender address</h1>        
        <input type="text" placeholder="Full Name" name="sendername">
        <input type="number" placeholder="mobile" name="sendermobile">
        <select name="sendercountry">
                <% countries.forEach((country) => { %>
                <option value="<%= country.name %>"><%= country.name %></option>
                <% }) %>
        </select>
        <input type="text" placeholder="State" name="senderstate">
        <input type="text" name="sendercity" placeholder="city">
        <input type="text" name="senderpincode" placeholder="pincode">
        <input type="text" name="senderaddress" placeholder="full address">
        <h1>reciever address</h1>        
        <input type="text" placeholder="Full Name" name="recievername">
        <input type="number" placeholder="mobile" name="recievermobile">
        <select name="recievercountry">
                <% countries.forEach((country) => { %>
                <option value="<%= country.name %>"><%= country.name %></option>
                <% }) %>
        </select>
        <input type="text" placeholder="State" name="recieverstate">
        <input type="text" name="recievercity" placeholder="city">
        <input type="text" name="recieverpincode" placeholder="pincode">
        <input type="text" name="recieveraddress" placeholder="full address">
        <br>
        <br><br>
        <input type="submit"> 
    </form>
    <a href="/logout">logout</a>
</body>
scrip
</html>