<!-- <!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body>
  <h1>register here</h1>
  <form action="/register" method="post">
    <input type="text" placeholder="username" name="username">
    <input type="password" placeholder="placeholder" name="password">
    <input type="number" placeholder="mobile" name="mobile">
    <input type="submit">
</form>
<h1>login here</h1>
  <form action="/login" method="post">
    <input type="text" placeholder="username" name="username">
    <input type="password" placeholder="password" name="password">
    <input type="submit">
</form>
  <a href="/booking">Book Now</a> 
</body>
</html> -->
<!DOCTYPE html>
<html lang='en'>

<head>
        <meta charset='UTF-8' />
        <meta http-equiv='X-UA-Compatible' content='IE=edge' />
        <meta name='viewport' content='width=device-width, initial-scale=1.0' />
        <title>Loader</title>
        <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css' />
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css' />
        <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css' />
        <link href='https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css' rel='stylesheet' />
        <link rel='stylesheet' href='../stylesheets/style.css' />
</head>

<body>
        <div id="nav">
                <img src="../images/ASSA-logos_white.png" alt="">
                <div id="links">
                        <a href="">the company</a>
                        <a href="">news</a>
                        <a href="">services</a>
                        <a href="userlogin">login</a>
                        <a href="">signup</a>
                        <a href="">contact</a>
                </div>
                <i class="ri-search-line"></i>
        </div>
        <div id="main">

                <div id="loader1">
                        <div id="box1"><img
                                        src="https://plus.unsplash.com/premium_photo-1677343210740-aee8f2b8a223?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1902&q=80"
                                        alt=""></div>
                        <div id="box2"><img
                                        src="https://images.unsplash.com/photo-1578575437130-527eed3abbec?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80"
                                        alt=""></div>
                        <div id="box3">
                                <img src="https://images.unsplash.com/photo-1498084393753-b411b2d26b34?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1932&q=80"
                                        alt="">
                                <div id="box3child1">
                                        <img src="https://images.unsplash.com/photo-1564478891058-f72b37d82611?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80"
                                                alt="">
                                </div>
                                <div id="box3child2">
                                        <img src="https://images.unsplash.com/photo-1550498586-2b666c0fa65f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1856&q=80"
                                                alt="">
                                </div>
                        </div>
                        <div id="box4"><img
                                        src="https://images.unsplash.com/photo-1486556813609-9a827fdc306f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2069&q=80"
                                        alt=""></div>
                        <div id="box5"><img
                                        src="https://images.unsplash.com/photo-1554254648-2d58a1bc3fd5?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2071&q=80"
                                        alt=""></div>
                        <div id="box6"><img
                                        src="https://images.unsplash.com/photo-1601171762590-72f42972b01c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80"
                                        alt=""></div>
                        <div id="box7"><img
                                        src="https://images.pexels.com/photos/1210622/pexels-photo-1210622.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                                        alt=""></div>
                        <div id="box8"><img
                                        src="https://images.pexels.com/photos/1427107/pexels-photo-1427107.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                                        alt=""></div>
                        <div id="box9"><img
                                        src="https://images.pexels.com/photos/712618/pexels-photo-712618.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                                        alt=""></div>
                        <div id="box10"><img
                                        src="https://images.pexels.com/photos/443386/pexels-photo-443386.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                                        alt=""></div>
                        <div id="box11"><img
                                        src="https://images.pexels.com/photos/764148/pexels-photo-764148.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                                        alt=""></div>
                        <div id="box12"><img
                                        src="https://images.pexels.com/photos/15663496/pexels-photo-15663496/free-photo-of-scooter-parked-in-front-of-a-house.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                                        alt=""></div>
                        <div id="page1">
                                <div id="center">
                                        <div id="center-center">
                                                <div class="slide-cover">
                                                        <img src="https://images.unsplash.com/photo-1598193957011-39b9f2916992?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2069&q=80" alt="">
                                                </div>
                                                <div class="slide-cover">
                                                        <img src="https://www.meetings.fr/wp-content/uploads/2021/06/meetings-bureau-etude-sven-mieke.jpg.webp" alt="">
                                                </div>
                                                <div class="slide-cover">
                                                        <img src="https://www.meetings.fr/wp-content/uploads/2022/02/meetings_cats_eyes_securite_accueil_gardiennage_lyon_evenement_haut_de_gamme.jpg.webp" alt="">
                                                </div>
                                                <div class="slide-cover">
                                                        <img src="https://www.meetings.fr/wp-content/uploads/2021/06/Meetings-convention-1-2560x3251.jpg.webp" alt="">
                                                </div>
                                                <div class="slide-cover">
                                                        <img src="https://images.unsplash.com/photo-1571086291540-b137111fa1c7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80" alt="">
                                                </div>
                                                <div class="slide-cover">
                                                        <img src="https://images.unsplash.com/photo-1571086291540-b137111fa1c7?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1974&q=80" alt="">
                                                </div>
                                        </div>
                                        <span>01/05</span>
                                </div>
                                <div id="options">
                                    <h3>TRUSS SHIPMENT</h3>
                                    <h3>LEGAL PAPERWORK</h3>
                                    <h3>SECURITY</h3>
                                    <h3>GLOBAL SHIPMENT</h3>
                                    <h3>FAST DELIVERY</h3>
                                </div>
                                <div id="left">
                                    <h3><span>05</span>&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;FAST SHIPPING</h3>
                                </div>
                                <div id="right">
                                    <h3><span>02</span>&nbsp;&nbsp;&nbsp;&nbsp;/&nbsp;&nbsp;&nbsp;&nbsp;LEGAL PAPERWORK</h3>
                                </div>
                        </div>
                </div>

                <div id="page2">

                </div>
                <div id="page5">
                        <h1>Our Happy Customer's<br>FeedBack</h1>
                        <div id="p4-oval"></div>
                        <div id="p4-circle">
                            <div class="p4-card" id="p4-card1">
                                <div class="cardd">
                                    <img src="https://images.unsplash.com/photo-1544723795-3fb6469f5b39?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1889&q=80"
                                        alt="">
                                    <div class="review">
                                        ⭐⭐⭐⭐⭐ <span>5/5</span>
                                        <p>"I've been using your transport service for a while now, and I'm always impressed by the
                                            reliability. Your team consistently delivers on time, which makes my logistics planning much
                                            smoother."</p>
                                    </div>
                                </div>
                            </div>
                            <div class="p4-card" id="p4-card2">
                                <div class="cardd">
                                    <img src="https://images.unsplash.com/photo-1624561172888-ac93c696e10c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1889&q=80"
                                        alt="">
                                    <div class="review">
                                        ⭐⭐⭐⭐ <span>4/5</span>
                                        <p>The professionalism of your drivers is truly commendable. They are courteous, well-trained,
                                            and ensure the safety of the cargo throughout the journey. It's a pleasure doing business
                                            with you.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="p4-card" id="p4-card3">
                                <div class="cardd">
                                    <img src="https://plus.unsplash.com/premium_photo-1689977871600-e755257fb5f8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80" alt="">
                                    <div class="review">
                                        ⭐⭐⭐⭐ <span>4/5</span>
                                        <p>Your communication is top-notch! I appreciate the regular updates and real-time tracking information provided during the transportation process. It gives me peace of mind knowing where my shipments are.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="p4-card" id="p4-card4">
                                <div class="cardd">
                                    <img src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1887&q=80" alt="">
                                    <div class="review">
                                        ⭐⭐⭐⭐⭐ <span>5/5</span>
                                        <p>Your fleet of vehicles is always in pristine condition. It's clear that you take maintenance seriously. This attention to detail reflects positively on your commitment to quality service</p>
                                    </div>
                                </div>
                            </div>
                            <div class="p4-card" id="p4-card5">
                                <div class="cardd">
                                    <img src="https://images.unsplash.com/photo-1598198414976-ddb788ec80c1?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1958&q=80" alt="">
                                    <div class="review">
                                        ⭐⭐⭐⭐⭐ <span>5/5</span>
                                        <p>I want to thank your team for their flexibility in accommodating our unique transportation needs. Your ability to tailor solutions to our requirements has been a game-changer for our business</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="page6">
                        <h1>our <br> partners</h1>
                        <div id="pr-wrapper">
                            <div id="partners">
                                <div class="pr-card">
                                    <img src="https://st4.depositphotos.com/25464256/41435/v/450/depositphotos_414357940-stock-illustration-truck-icon-vector-illustration-design.jpg"
                                        alt="">
                                    <div class="name-tag">
                                        <h5>DRESSX</h5>
                                    </div>
                                </div>
                                <div class="pr-card">
                                    <img src="https://static.vecteezy.com/system/resources/thumbnails/008/691/476/small/logistic-logo-template-expedition-and-transportation-business-icon-vector.jpg"
                                        alt="">
                                    <div class="name-tag">
                                        <h5>VERTEX LABS</h5>
                                    </div>
                                </div>
                                <div class="pr-card">
                                    <img src="https://www.designmantic.com/images/industry/transport/dm-transport-logo-04.png" alt="">
                                    <div class="name-tag">
                                        <h5>DIESEL</h5>
                                    </div>
                                </div>
                                <div class="pr-card">
                                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTOX5XR1ElNirlBvC9qNyarwxhnx-DCMSaZIbogGzzPMwHjLqiJdx_QlKkQ_f2JRMLzgrE&usqp=CAU"
                                        alt="">
                                    <div class="name-tag">
                                        <h5>JAGERMEISTER</h5>
                                    </div>
                                </div>
                                <div class="pr-card">
                                    <img src="https://t4.ftcdn.net/jpg/04/61/57/05/360_F_461570564_Ej3KaF2SknCxtoLzqCCMedJ4y7vmp03u.jpg"
                                        alt="">
                                    <div class="name-tag">
                                        <h5>CADUCEUS</h5>
                                    </div>
                                </div>
                                <div class="pr-card">
                                    <img src="https://mehtatransportcorporations.com/assets/img/about.png" alt="">
                                    <div class="name-tag">
                                        <h5>COINBASE NFT</h5>
                                    </div>
                                </div>
                                <div class="pr-card">
                                    <img src="https://www.insightssuccess.in/wp-content/uploads/2018/05/Editor___s_Pick.jpg" alt="">
                                    <div class="name-tag">
                                        <h5>HOUSE OF KIBAA</h5>
                                    </div>
                                </div>
                                <div class="pr-card">
                                    <img src="https://www.trukky.com/blog/wp-content/uploads/2016/05/cargo-1.jpg" alt="">
                                    <div class="name-tag">
                                        <h5>MET AMS</h5>
                                    </div>
                                </div>
                                <div class="pr-card">
                                    <h4>COMING SOON</h4>
                                </div>
                                <div class="pr-card">
                                    <h4>COMING SOON</h4>
                                </div>
                                <div class="pr-card">
                                    <h4>COMING SOON</h4>
                                </div>
                                <div class="pr-card">
                                    <h4>COMING SOON</h4>
                                </div>
                            </div>
                        </div>
                        <div id="info">
                            <div id="lft-info">
                                <h2>we are, we transport,<br>we mock. we act</h2>
                                <span>Sir Adarsh Singh Chauhan</span>
                            </div>
                            <div id="rgt-info">
                                <div id="r-l">
                                    <h2>connect<br>with<br>us</h2>
                                </div>
                                <div id="r-m">
                                    <a href="">Our discord</a>
                                    <a href="">View on OpenSea</a>
                                    <a href="">Rarity Sniper</a>
                                    <a href="">LinkedIn</a>
                                </div>
                                <div id="r-r">
                                    <a href="">The Digimental Page</a>
                                    <a href="">Drops</a>
                                    <a href="">Transports</a>
                                </div>
                            </div>
                        </div>
                        <hr>
                        <div id="samapt">
                            <div id="lft-smp">
                                <span>● 2023 ● Transport Prime</span>
                                <span>Style by ● Coders Squad</span>
                            </div>
                            <div id="rgt-smp">
                                <span>terms and conditions</span>
                                <span>privacy policy</span>
                            </div>
                        </div>
                    </div>
        </div>


        <script src='https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/gsap.min.js'
                integrity='sha512-cOH8ndwGgPo+K7pTvMrqYbmI8u8k6Sho3js0gOqVWTmQMlLIi6TbqGWRTpf1ga8ci9H3iPsvDLr4X7xwhC/+DQ=='
                crossorigin='anonymous' referrerpolicy='no-referrer'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.5/ScrollTrigger.min.js'
                integrity='sha512-AMl4wfwAmDM1lsQvVBBRHYENn1FR8cfOTpt8QVbb/P55mYOdahHD4LmHM1W55pNe3j/3od8ELzPf/8eNkkjISQ=='
                crossorigin='anonymous' referrerpolicy='no-referrer'></script>
        <script src='https://code.jquery.com/jquery-3.6.4.js'
                integrity='sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=' crossorigin='anonymous'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/lettering.js/0.6.1/jquery.lettering.min.js'
                integrity='sha512-VJ/iYbiu1eJ6yLimfTi65t2R9TFcG5D9X8ZCfbbEFhTfPnKJh8byoKXEawi5ScJZBYL1eiirL1+MczZDx0Tz9Q=='
                crossorigin='anonymous' referrerpolicy='no-referrer'></script>
        <script src='https://unpkg.com/textillate@0.4.1/jquery.textillate.js'></script>
        <script src='https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.js'></script>
        <script src='../javascripts/script.js'></script>
</body>

</html>