<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">


  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href='https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css' rel='stylesheet' />
  <link rel="stylesheet" href="../stylesheets/login.css">
  <link rel="stylesheet" href="../stylesheets/style.css">

</head>

<body>
    <div id="nav">
        <img src="../images/ASSA-logos_white.png" alt="">
        <div id="links">
                <a href="">the company</a>
                <a href="">news</a>
                <a href="">services</a>
                <a href="userlogin">login</a>
                <a href="">signup</a>
                <a href="">contact</a>
        </div>
        <i class="ri-search-line"></i>
</div>
  <div id="login">
    <div class="box-form">
      <div class="left">
        <div class="overlay">
          <h1>ASSA L0GISTICS</h1>
          <p>The World On Time</p>
          <span>
            <p>login with social media</p>
            <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i>Login with Twitter</a>
          </span>
        </div>
      </div>
      <div class="right">
        <h5>Login</h5>
        <p>Don't have an account? <a href="/create">Create Your Account</a> it takes less than a minute</p>
        <div class="inputs">
          <input type="text" placeholder="user name">
          <br>
          <input type="password" placeholder="password">
        </div>
        <br>
        <button style="cursor: pointer;">Login</button>
      </div>

    </div>
  </div>
</body>

</html>